<!--
    TripAdvise Index Page
    home page/landing page for unregistered user
    feed page for registered, logined user

    
-->

<%- include('partials/header') %>   
<!-- // header file -->
<body id="top"> 

		<!-- Banner -->
		
			<section id="banner" data-video="images/banner">
				<div class="inner">
					<header>
						<h1 style="color: blue;">TripAdvise</h1>
						<p>A destination information website with a modern social media feel.
							 <br> Log out <a href="/logout">here</a>.</p>
					</header>
					<a href="#main" class="more">Learn More</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">
				<div class="inner">

				    <!-- Boxes -->
					<div class="thumbnails">
                        <!-- class="image fit" -->
						<div class="boxdestination">
							
							<div class="inner image fit ">
                                <div class="info">
								<h2>Cairo,</h2>
                                <div>
                                    <iframe width="100%" height="600" src= "https://www.youtube.com/embed/DIyG_4rEdSg" ></iframe>
                                </div>	
                                <br>							
                                <h4 > <i>A thriving metropolis of more than 20 million people and a crossroads of cultures for millennia, Cairo is a captivating destination with something for everyone to discover. Following a steady and solid recovery, the Egyptian capital’s status as a must-see city is on a serious rebound with an increasing number of smart globetrotters scouring the Web for cheap international flights to get there. We think you should join them and this year is an ideal time to get there before the masses get clued in about how awesome it is.     </i> </h4>
                                <hr>
                                <img src="https://www.planetware.com/photos-large/EGY/egypt-cairo-pyramids-and-camels.jpg" alt="">
                                <hr>
                                
                                <h2>Marvel at the Pyramids of Giza</h2>
                                <p style="color: white;">The Pyramids of Giza are Cairo's number one half-day trip and a must-do attraction on everyone's itinerary.

                                    Right on the edge of the city, on the Giza Plateau, these fourth dynasty funerary temples have been wowing travelers for centuries and continue to be one of the country's major highlights.
                                    
                                    Despite the heat, the dust, and the tourist hustle, you can't miss a trip here</p>
                                <img class="image fit" src="https://www.planetware.com/wpimages/2021/05/egypt-cairo-egyptian-museum-exterior.jpg" alt="">
                                <h2>Exterior of the Egyptian Museum</h2>
                                <p>The absolutely staggering collection of antiquities displayed in Cairo's Egyptian Museum makes it one of the world's great museums. You would need a lifetime to properly see everything on show.

The museum was founded in 1857 by French Egyptologist August Mariette and moved to its current home – in the distinctive powder-pink mansion in Downtown Cairo – in 1897.</p>
                                <hr>
                                <img src="https://www.planetware.com/photos-large/EGY/egypt-cairo-al-azhar-mosque.jpg" alt="">
                                <h2>Admire Al-Azhar Mosque</h2>
                                <p>Al-Azhar Mosque is the finest building of Cairo's Fatimid era and one of the city's earliest surviving mosques, completed in AD 972.

                                    It's also one of the world's oldest universities – Caliph El-Aziz bestowed it with the status of university in AD 988 (the other university vying for "oldest" status is in Fes) and today, Al-Azhar University is still the leading theological center of the Islamic world.
                                    
                                    The main entrance is the Gate of the Barbers on the northwest side of the building, adjoining the neo-Arab facade built by Abbas II.
                                    
                                    Leave your shoes at the entrance and walk into the central courtyard. To your right is the El-Taibarsiya Medrese, which has a mihrab (prayer niche) dating from 1309.</p>
                                <hr>
                                <img src="https://www.planetware.com/photos-large/EGY/egypt-cairo-hanging-church-interior.jpg" alt="">
                                <h2>Explore Coptic History in Old Cairo (Coptic Cairo)</h2>
                                <p>This small church-filled cluster of twisty laneways lies within the walls of Old Babylon, where the Roman Emperor Trajan first built a fortress along the Nile.

                                    Parts of the Roman towers still preside over the main street.
                                    
                                    The Coptic Museum here contains a wealth of information on Egypt's early Christian period and is home to one of Egypt's finest collections of Coptic art.
                                    
                                    Next door, the 9th-century Hanging Church contains some beautiful examples of Coptic architecture. Founded in the 4th century, the church was originally built over the Roman gate towers (hence the name) and was substantially rebuilt during the 9th century.</p>
                                <hr>
                                <img src="https://www.planetware.com/photos-large/EGY/egypt-cairo-saqqara.jpg" alt="">
                                <h2>Saqqara & Dahshur</h2>
                                <p> The vast necropolis of Saqqara and the nearby site of Dahshur are home to the "other pyramids," and a day trip out here is just as rewarding as a trip to Giza's pyramids. The sites are roughly 30 kilometers south of Cairo.

                                    The Step Pyramid is Saqqara's most popular tourist attraction, but the entire area is littered with gorgeously painted tombs, which are well worth spending a few hours exploring.
                                    
                                    Saqqara is so large, and its history as a burial site so vast, that excavations here continue to unearth finds that make headline grabbing news worldwide.</p>
                                <hr>
                                <img src="https://www.planetware.com/wpimages/2021/04/egypt-cairo-top-attractions-shop-amid-maze-khan-el-khalili.jpg" alt="">
                                <h2>Shop amid the Maze of Khan el-Khalili</h2>
                                <p>Khan el-Khalili is one of the world's great shopping experiences.

                                    This souq (bazaar) is a labyrinthine collection of skinny alleyways established as a shopping district in AD 1400, which still rings with the clang of metal workers and silversmiths.
                                    
                                    The main streets have long ago given themselves over completely to the tourist trade (with plenty of cheap papyrus pictures and plastic pyramids on display), but divert off the main drag into the surrounding alleyways, and the tiny stores and cluttered workshops are some of the best places to visit to pick up traditional products in Egypt.
                                    
                                    Here, you'll find everything from antiques and gorgeous metal lampshades to locally woven textiles.</p>
                                <hr>
                                <img src="https://www.planetware.com/photos-large/EGY/egypt-cairo-muhammad-ali-mosque-on-the-citadel.jpg" alt="">
                                <h2>Get Views across the City at the Citadel</h2>
                                <p>In a commanding location at the foot of the Mokattam Hills, Cairo's citadel was built by Saladin in 1176.

                                    The original structure he laid out has long disappeared except for the eastern outer walls, but a legacy of rulers has made their own additions here.
                                    
                                    The Mosque of Muhammad Ali is the most famous monument and the main reason for visiting. Nicknamed the "Alabaster Mosque," its white stone and tall, disproportionately slender minarets are one of Cairo's great landmarks.</p>
                                
                                <hr>
                                <img src="https://www.planetware.com/photos-large/EGY/egypt-cairo-sultan-hassan-mosque.jpg" alt="">
                                <h2>Admire Mamluk Architecture in the Sultan Hassan Mosque</h2>
                                
                                <p>One of the finest examples of Mamluk architecture in the world, Sultan Hassan Mosque is a vision of Islamic artistry with an abundance of stalactite detailing and intricate arabesque features.

                                    It was built in 1356-63 for the Sultan Hassan el-Nasir.
                                    
                                    The massive main doorway at the north corner is almost 26 meters high, and the minaret at the south corner is the tallest in Cairo at 81.5 meters.</p>
                                <hr>
                                <img src="https://www.planetware.com/photos-large/EGY/egypt-cairo-the-cairo-tower.jpg" alt="">
                                <h2>Explore the Nile Island District of Zamalek</h2>
                                <p>The Nile island of Gezira is home to the district of Zamalek and the majority of Cairo's arty boutiques and hipster restaurants.

                                    Dating from the mid 19th century, the entire area has a distinctly European feel to its architecture with wide boulevards rimmed by trees and splendidly ornate Belle Époque mansions (many of which are now home to various embassies).
                                    
                                    Zamalek is Cairo's top dining destination, but there are also a clutch of art galleries to explore.</p>
                                <hr>
                                
                                </div>
                                <!-- // Review section -->
                                <div class="review" style=" all: revert;">
                                    <h3 style="font-size: 1.35em;
                                    color: aqua;
                                    /* font-size: large; */
                                    font-style: oblique;">Review</h3>
                                    <% cairoReview.forEach(function (review){ %>
                                        <form action="/cairo/delete" method="post">
                                        <p class="userName" style="color:yellow ;font-style: italic; font-weight: 250;"><%=review.userid%>
                                             <span style="color: azure;">wrote:</span>
                                            <span class="time" style="color: #d8aeff; float: right;"><%=review.time%> </span>
                                        </p>
                                        <div class="userReview" style="color: white; background-color: lightseagreen; border-radius: 15px; font-weight: 350;  position: relative; margin: 0%; padding: 0%; border: 0ch; box-sizing: unset;"> 
                                           
                                            <div class=" reviewStar" style=" display: grid; grid-template-columns: 50% 50%; padding: 0%; margin: 0%; ">
                                                
                                                <span class="rateHeart" style="color: rgb(233, 255, 105); font-size: x-large;font-style: italic"><%=review.productPackages%><span class=" reviewRate">&nbsp;&nbsp;Tourist products and packages</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.cultural%><span class=" reviewRate">&nbsp;&nbsp;Cultural attractions</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.gastronomy%><span class=" reviewRate">&nbsp;&nbsp;Gastronomy</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.shopping%><span class=" reviewRate">&nbsp;&nbsp;Shopping</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.infrastructureTransport%><span class=" reviewRate">&nbsp;&nbsp;Infrastructure and transport</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.landscapeNaturalResource%> <span class=" reviewRate">&nbsp;&nbsp;Landscape and natural resources</span></span>
                                                <span class="rateHeart" style="color: hotpink; font-size: x-large; padding: 0%; margin: 0%;"><%=review.rateHeart%> <em style=" color:moccasin ;font-size: smaller;font-weight: 400;">Favourite</em> </span>
                                            </div>     
                                             <p style="margin: 0% ;white-space: pre-line; font-weight: 400;"><%=review.review%></p> 
                                        </div>
                                        
                                        <% if ( review.userGmail  ===  user.username ) { %>
                                            <div class="item" style=" margin:0% ;float: right;
                                            display: inline-flex;
                                            color: darkorange; ">
                                                <input type="checkbox" name="checkbox" style="appearance: auto;
                                                display: inline;
                                                float: left;
                                                margin-right: -4rem;
                                                opacity: 200;
                                                width: 10em;
                                                height: 20px;
                                                z-index: 1;
                                                " value="<%=review._id %>" onChange="this.form.submit()"> 
                                                <p>Delete</p>
                
                                            </div>

                                            <% } %>

                                        </form>
                                        
                                     <% }) %>
                                    

                                </div>

                                <!-- /// Summit section -->
                                <form action="/cairo" method="POST">
                                    
                                    <!-- // demo rate star  -->
                                                                     
                                      
                                      <!-- /// end -->
                                    <div class="form-group">
                                        <h3 style="font-size: 1.35em;
                                        color: aqua;
                                        /* font-size: large; */
                                        font-style: oblique;">Leave a Review</h3>
                                         <!-- // demo rate star  -->
                                         <div class="reviewForm">

                                            <div>
                                                <div class="pinfo">Rate the destination.<i class="fa fa-heart" style="color: hotpink;" ></i></div>
                                                
                                            </div>  
                                            <div id=" reviewQuery" style="   display: grid;
                                            grid-template-columns: 25% 25% 25% 25%;
                                            /* background-color: #2196F3; */
                                            padding: 10px;">    
                                            
                                            <div>
                                               <label for="rateHeart">General</label>
                                                  <select class="form-control" id="rateHeart" name="rateHeart" style="; color: hotpink;" >
                                                  <option value="&hearts;&hearts;&hearts;&hearts;&hearts;">&hearts;&hearts;&hearts;&hearts;&hearts;</option>
                                                  <option value="&hearts;&hearts;&hearts;&hearts;">&hearts;&hearts;&hearts;&hearts;</option>
                                                  <option value="&hearts;&hearts;&hearts;">&hearts;&hearts;&hearts;</option>
                                                 <option value="&hearts;&hearts;">&hearts;&hearts;</option>
                                                 <option value="&hearts;">&hearts;</option>
                                               </select>
                                            </div>
                                              
                                               <div>
                                                  <label for="productPackages">Tourist products and packages</label> 
                                                <select class="form-control" id="productPackages" name="productPackages"  style="color: hotpink;" >
                                                  <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                  <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                  <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                  <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                  <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                               </div>  
                                               <div>
                                               <label for="cultural">Cultural attractions</label>
                                               <select class="form-control" id="cultural" name="cultural" style="color: hotpink;" >
                                                      <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                      <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                      <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                      <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                      <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                               </div>
                                              
                                              <div>
                                              <label for="gastronomy">Gastronomy.</label>
                                              <select class="form-control" id="gastronomy" name="gastronomy" style=" color: hotpink;" >
                                                      <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                      <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                      <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                      <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                      <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                              </div>

                                              
  
                                              <div>
                                              <label for="shopping">Shopping</label>
                                              <select class="form-control" id="shopping" name="shopping" style=" color: hotpink;" >
                                                  <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                  <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                  <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                 <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                 <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                              </div> 
                                              

                                              <div>
                                              <label for="Infras_transport">Infrastructure and transport</label>
                                              <select class="form-control" id="Infras_transport" name="Infras_transport" style=" color: hotpink;" >
                                                  <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                  <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                  <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                 <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                 <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>

                                              </div>
            
                                              <div>
                                                                                  <label for="landscape">Landscape and natural resources</label>
                                              <select class="form-control" id="landscape" name="landscape" style="color: hotpink;" >
                                                          <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                          <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                          <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                         <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                         <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                              </div>
                                            
                                          </div>

                                              
                                            </div>
                                         </div>
                                    <!-- <div class="col-md-4 inputGroupContainer">

                                 
                                    </div> -->
                                  
                                  <!-- /// end -->
                                        <!-- <input type="text" class="form-control text-center" name="secret" placeholder="Share your experience?">    -->
                                      <textarea type="text" required  class="form-control text-center" row="10" cols="33" name="secret" placeholder="Share your experience ?"></textarea>
                                      <input type="hidden" name="userEmail" value="<%= user.username %>" id="">
                                      <input type="hidden" name="userfullName" value="<%= user.name %>" id="">

                                    
                                    <button type="submit" class="btn btn-dark">Submit</button>
                                </form>
                            </div>
                        </div>    
					

					

				</div>
			</div>
            
			<%- include('partials/footer') %>