<!--
    TripAdvise Index Page
    home page/landing page for unregistered user
    feed page for registered, logined user

    
-->

<%- include('partials/header') %>   
<!-- // header file -->
<body id="top"> 

		<!-- Banner -->
		
			<section id="banner" data-video="images/banner">
				<div class="inner">
					<header>
						<h1 style="color: blue;">TripAdvise</h1>
						<p>A destination information website with a modern social media feel.
							 <br> Log out <a href="/logout">here</a>.</p>
					</header>
					<a href="#main" class="more">Learn More</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">
				<div class="inner">

				    <!-- Boxes -->
					<div class="thumbnails">
                        <!-- class="image fit" -->
						<div class="boxdestination">
							
							<div class="inner image fit ">
                                <div class="info">
								<h2>Paris, French</h2>
                                <div>
                                    <iframe width="100%" height="600" src= "https://www.youtube.com/embed/1_XzrxXnwMM" ></iframe>
                                </div>	
                                <br>							
                                <h4 > <i>The question isn't what to do in Paris, but rather how to decide. With so many wonderful and varied options, it can be hard to plan your itinerary, whether you're an art lover, a history buff, or a serious shopper. Let our list help: Here's a mix of some of the best things to do in Paris that you simply can't miss, from local favorites that will make you feel like a true Parisian, to some of the city's best sites and experiences. All you have to do now is pack. (Note: There are still restrictions in place and depending on where you are traveling, COVID-19 testing may still be required for entry into France.)</i> </h4>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/5952f9ca9034d21207799151/1:1/w_2580%2Cc_limit/jardin-du-luxembourg-GettyImages-151514883.jpg" alt="">
                                <hr>
                                
                                <h2>Jardin du Luxembourg</h2>
                                <p style="color: white;">Located in the heart of the Sixth Arrondissement, the famous Jardin du Luxembourg is an inviting green oasis for Parisians and visitors alike. Come for people watching, romantic strolls, picnics, or just to admire the mash-up of English, Italian, and French landscaping influences. If you're feeling athletic, join the early-morning joggers or stake out one of the tennis and pétanque courts</p>
                                <img class="image fit" src="https://media.cntraveler.com/photos/57d961ce3e6b32bf25f5ad0f/1:1/w_2580%2Cc_limit/most-beautiful-paris-louvre-GettyImages-536267205.jpg" alt="">
                                <h2>Musée du Louvre</h2>
                                <p>The Louvre hardly needs an introduction—it is the most-visited museum in the world, with more than 10 million visitors in 2018. The former royal palace is now the magnificent home of some of the world's most iconic artworks (ever hear of the Mona Lisa?). Don't freak out, but walking through the halls where Louis XIV once strolled (he lived here before moving to Versailles), surrounded by the most famous art on earth can be an overwhelming experience. Masks are required inside for anyone over the age of 11 now.</p>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/5a85a56e17acc04e56ef1752/1:1/w_2580%2Cc_limit/Les-Halles_2018_162-10_cmjn.jpg" alt="">
                                <h2>Forum des Halles</h2>
                                <p>The Forum des Halles is a sprawling shopping, dining, and transportation hub right in the heart of Paris, with nearly 150 shops and restaurants. A 2016 renovation saw the addition of a spectacular wavy roof nicknamed La Canopée—you’re going to want a picture of it. Though the architecture is new, the shopping concept is not: A market has stood on this very site since the 1100s.</p>
                                <hr>
                                <img src="https://i0.wp.com/www.hisour.com/wp-content/uploads/2019/11/Grand-foyer-Palais-Garnier.jpg?fit=960%2C640&ssl=1" alt="">
                                <h2>Palais Garnier</h2>
                                <p>The pinnacle of Napoleon III architecture, the resplendent Le Palais Garnier opera house is opulent from every angle. The facade is covered with ornamentation and busts, as well as l'Harmonie and La Poésie, the two gilded copper statues flanking the entrance from on high. Inside, make sure to channel your best "Phantom of the Opera" moment on the iconic lobby's Grand Staircase, a triumph of decadent Parisian design. Admission costs about 14 euros, but it's well worth it—walking through these public spaces is like walking into the Paris of the past. The Opéra National de Paris is going back to performances in mid July, with reduced attendance and the country's health pass required.</p>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/5a85a096c5f2863a6e7b97d5/1:1/w_2580%2Cc_limit/Centre-Pompidou_2018_GettyImages-535471213.jpg" alt="">
                                <h2>Centre Pompidou</h2>
                                <p> When the Centre Pompidou opened in 1977, it was a radical (and controversial) design for a museum—all industrial pipes and open glass views of Paris. Forty-plus years later it's the undisputed grande dame of Paris's contemporary art world. Within the massive 100,000-piece collection that stretches back to 1905, you’ll find everything from Picassos to video installations. Make sure to book your reserved tickets for a specific time slot to get in (and bring a mask for anyone over 11 years old).</p>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/5aa6920039877c0712aff8aa/1:1/w_2580%2Cc_limit/Palais-Royal_GettyImages-505681626.jpg" alt="">
                                <h2>Palais-Royal</h2>
                                <p>The Palais-Royal complex is in some ways Paris in a nutshell: shops, cafés, art, history, architecture, bureaucracy, and spectacular gardens for people watching. And since it's all right across the street from the Louvre, you likely won't need to make a special trip. Don’t miss the Insta-famous Colonnes de Buren art installation in the inner courtyard.</p>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/5a7741d04332805bf105f668/1:1/w_1600%2Cc_limit/Morgan-Library-and-Museum__2018_9.-East-Room-2.jpg" alt="">
                                <h2>Le Bon Marché</h2>
                                <p>Dating back to the 1850s, Le Bon Marché is the oldest department store in Paris, and certainly the most iconic. The elegant Left Bank institution is as celebrated for its airy layout as for its top selection of the world’s best designers. If it’s luxe, you can probably buy it here. Before your shopping spree is done, peek in at La Grande Épicerie, Le Bon Marché’s fine-foods emporium in an adjoining building.</p>
                                
                                <hr>
                                <img src="https://media.cntraveler.com/photos/5cf96a9dd9fb41f17ed08435/1:1/w_2580%2Cc_limit/Eiffel%2520Tower_GettyImages-1005348968.jpg" alt="">
                                <h2>Eiffel Tower</h2>
                                
                                <p>Gustave Eiffel's controversial wrought-iron lattice tower has been polarizing Parisians since it was built for the 1889 World's Fair, but today, the Eiffel Tower is one of the most beloved and instantly recognizable landmarks in the city—and the world. The structure anchors one end of the expansive Champ de Mars and provides an orientation point for the city. Jules Verne, the second-floor restaurant, is a Michelin-starred (and pricey) institution that is currently closed for renovation until the fall, as is the tiny Champagne bar at the tippity-top, which is still closed due to COVID regulations. The Eiffel Tower will reopen to visitors on July 16 and is currently accepting reservations for timed tickets.</p>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/5cf96f0c5510400c940d1207/1:1/w_2580%2Cc_limit/Pe%25CC%2580re%2520Lachaise%2520Cemetery_GettyImages-497781887.jpgg" alt="">
                                <h2>Père Lachaise Cemetery</h2>
                                <p>If visiting a cemetery sounds morbid and dreary, rest assured: It is, but in the best possible way. Death is an inescapable part of French life, and the layers on layers of Parisian history on display at Père Lachaise Cemetery are a fascinating peek into how the city has evolved over time. Visitors flock to the A-list graves here, with Oscar Wilde, Edith Piaf, and Jim Morrison among the most-visited. But one of the great delights is to walk away from the crowds and get lost wandering among the lesser-known, less-visited ones, which are all in various states of repair. Some have been completely worn down with obscurity over time; others appear to be washed and adorned with fresh flowers on a weekly basis. Keep your eyes peeled, and you might find some other noteworthy names buried here, from composer Frédéric Chopin to writer Marcel Proust and painter Eugène Delacroix.</p>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/5a93281d8087c02669a7dc07/1:1/w_2580%2Cc_limit/Arc%2520de%2520Triomphe_GettyImages-615063063.jpg" alt="">
                                <h2>Arc de Triomphe</h2>
                                <p>The Arc de Triomphe was commissioned by Napoleon in 1806 to celebrate his victory at the Battle of Austerlitz. Climb the nearly 300 steps to the top for some of the best views of Paris, with clear vistas straight down the Champs-Élysées all the way to the Louvre. You'll need a ticket purchased online only to go inside and up to the viewing platform, but anyone can come to admire the ornate façade for free (with a required mask).</p>
                                </div>
                                <!-- // Review section -->
                                <div class="review" style=" all: revert;">
                                    <h3 style="font-size: 1.35em;
                                    color: aqua;
                                    /* font-size: large; */
                                    font-style: oblique;">Review</h3>
                                    <% parisReview.forEach(function (review){ %>
                                        <form action="/newyork/delete" method="post">
                                        <p class="userName" style="color:yellow ;font-style: italic; font-weight: 250;"><%=review.userid%>
                                             <span style="color: azure;">wrote:</span>
                                            <span class="time" style="color: #d8aeff; float: right;"><%=review.time%> </span>
                                        </p>
                                        <div class="userReview" style="color: white; background-color: lightseagreen; border-radius: 15px; font-weight: 350;  position: relative; margin: 0%; padding: 0%; border: 0ch; box-sizing: unset;"> 
                                           
                                            <div class=" reviewStar" style=" display: grid; grid-template-columns: 50% 50% ; padding: 0%; margin: 0%; ">
                                                <span class="rateHeart" style="color: hotpink; font-size: x-large; padding: 0%; margin: 0%;"><%=review.rateHeart%> <em style=" color:moccasin ;font-size: smaller;font-weight: 400;">Favourite</em> </span>
                                                <span class="rateHeart" style="color: rgb(233, 255, 105); font-size: x-large;font-style: italic"><%=review.productPackages%><span class=" reviewRate">&nbsp;&nbsp;Tourist products and packages</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.cultural%><span class=" reviewRate">&nbsp;&nbsp;Cultural attractions</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.gastronomy%><span class=" reviewRate">&nbsp;&nbsp;Gastronomy</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.shopping%><span class=" reviewRate">&nbsp;&nbsp;Shopping</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.infrastructureTransport%><span class=" reviewRate">&nbsp;&nbsp;Infrastructure and transport</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.landscapeNaturalResource%> <span class=" reviewRate">&nbsp;&nbsp;Landscape and natural resources</span></span>
                                            </div>     
                                             <p style="margin: 0% ;white-space: pre-line; font-weight: 400;"><%=review.review%></p> 
                                        </div>
                                        
                                        <% if ( review.userGmail  ===  user.username ) { %>
                                            <div class="item" style=" margin:0% ;float: right;
                                            display: inline-flex;
                                            color: darkorange; ">
                                                <input type="checkbox" name="checkbox" style="appearance: auto;
                                                display: inline;
                                                float: left;
                                                margin-right: -4rem;
                                                opacity: 200;
                                                width: 10em;
                                                height: 20px;
                                                z-index: 1;
                                                " value="<%=review._id %>" onChange="this.form.submit()"> 
                                                <p>Delete</p>
                
                                            </div>

                                            <% } %>

                                        </form>
                                        
                                     <% }) %>
                                    

                                </div>

                                <!-- /// Summit section -->
                                <form action="/paris" method="POST">
                                    
                                    <!-- // demo rate star  -->
                                                                     
                                      
                                      <!-- /// end -->
                                    <div class="form-group">
                                        <h3 style="font-size: 1.35em;
                                        color: aqua;
                                        /* font-size: large; */
                                        font-style: oblique;">Leave a Review</h3>
                                         <!-- // demo rate star  -->
                                         <div class="reviewForm">

                                            <div>
                                                <div class="pinfo">Rate the destination.<i class="fa fa-heart" style="color: hotpink;" ></i></div>
                                                
                                            </div>  
                                            <div id=" reviewQuery" style="   display: grid;
                                            grid-template-columns: 25% 25% 25% 25%;
                                            /* background-color: #2196F3; */
                                            padding: 10px;">    
                                            
                                            <div>
                                               <label for="rateHeart">General</label>
                                                  <select class="form-control" id="rateHeart" name="rateHeart" style="; color: hotpink;" >
                                                  <option value="&hearts;&hearts;&hearts;&hearts;&hearts;">&hearts;&hearts;&hearts;&hearts;&hearts;</option>
                                                  <option value="&hearts;&hearts;&hearts;&hearts;">&hearts;&hearts;&hearts;&hearts;</option>
                                                  <option value="&hearts;&hearts;&hearts;">&hearts;&hearts;&hearts;</option>
                                                 <option value="&hearts;&hearts;">&hearts;&hearts;</option>
                                                 <option value="&hearts;">&hearts;</option>
                                               </select>
                                            </div>
                                              
                                               <div>
                                                  <label for="productPackages">Tourist products and packages</label> 
                                                <select class="form-control" id="productPackages" name="productPackages"  style="color: hotpink;" >
                                                  <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                  <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                  <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                  <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                  <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                               </div>  
                                               <div>
                                               <label for="cultural">Cultural attractions</label>
                                               <select class="form-control" id="cultural" name="cultural" style="color: hotpink;" >
                                                      <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                      <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                      <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                      <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                      <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                               </div>
                                              
                                              <div>
                                              <label for="gastronomy">Gastronomy.</label>
                                              <select class="form-control" id="gastronomy" name="gastronomy" style=" color: hotpink;" >
                                                      <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                      <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                      <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                      <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                      <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                              </div>

                                              
  
                                              <div>
                                              <label for="shopping">Shopping</label>
                                              <select class="form-control" id="shopping" name="shopping" style=" color: hotpink;" >
                                                  <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                  <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                  <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                 <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                 <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                              </div> 
                                              

                                              <div>
                                              <label for="Infras_transport">Infrastructure and transport</label>
                                              <select class="form-control" id="Infras_transport" name="Infras_transport" style=" color: hotpink;" >
                                                  <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                  <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                  <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                 <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                 <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>

                                              </div>
            
                                              <div>
                                                                                  <label for="landscape">Landscape and natural resources</label>
                                              <select class="form-control" id="landscape" name="landscape" style="color: hotpink;" >
                                                          <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                          <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                          <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                         <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                         <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                              </div>
                                            
                                          </div>

                                              
                                            </div>
                                         </div>
                                    <!-- <div class="col-md-4 inputGroupContainer">

                                 
                                    </div> -->
                                  
                                  <!-- /// end -->
                                        <!-- <input type="text" class="form-control text-center" name="secret" placeholder="Share your experience?">    -->
                                      <textarea type="text" required  class="form-control text-center" row="10" cols="33" name="secret" placeholder="Share your experience ?"></textarea>
                                      <input type="hidden" name="userEmail" value="<%= user.username %>" id="">
                                      <input type="hidden" name="userfullName" value="<%= user.name %>" id="">

                                    
                                    <button type="submit" class="btn btn-dark">Submit</button>
                                </form>
                            </div>
                        </div>    
					

					

				</div>
			</div>
            
			<%- include('partials/footer') %>