<!--
    TripAdvise Index Page
    home page/landing page for unregistered user
    feed page for registered, logined user

    
-->

<%- include('partials/header') %>   
<!-- // header file -->
<body id="top"> 

		<!-- Banner -->
		
			<section id="banner" data-video="images/banner">
				<div class="inner">
					<header>
						<h1 style="color: blue;">TripAdvise</h1>
						<p>A destination information website with a modern social media feel.
							 <br> Log out <a href="/logout">here</a>.</p>
					</header>
					<a href="#main" class="more">Learn More</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">
				<div class="inner">

				    <!-- Boxes -->
					<div class="thumbnails">
                        <!-- class="image fit" -->
						<div class="boxdestination">
							
							<div class="inner image fit ">
                                <div class="info">
								<h2>Rome, Italy</h2>
                                <div>
                                    <iframe width="100%" height="600" src= "https://www.youtube.com/embed/EsFheWkimsU" ></iframe>
                                </div>	
                                <br>							
                                <h4 > <i>Rome is a city full of museums, squares, Roman landmarks and other highlights. The Italian city has more to offer than just the main Rome tourist attractions like the Colosseum, the Pantheon and St. Peter’s Basilica in Vatican City. During your visit to this city, these are the top 25 of the most famous sightseeing and most popular Rome attractions. Click one of the must-see highlights, things to do or Rome landmarks for more information on this unique monuments, museum or tourist attractions:</i> </h4>
                                <hr>
                                <img src="https://romesite.com/images/colosseum.jpg" alt="">
                                <hr>
                                
                                <h2>Colosseum</h2>
                                <p style="color: white;">The number 1 attraction of Rome is the Colosseum; the large amphitheatre that housed 65,000 spectators in Roman days. Gladiators battled each other as well as wild animals in the Colosseum's arena. In the giant ‘ruins’ of the Colosseum, you can visit the stands, the arena and the underground spaces of the largest Roman amphitheatre. Because of the huge number of visitors, it is highly recommended to book tickets to the Colosseum in advance, which is considered one of the seven modern wonders of the world. More info of the famous landmark 'Colosseum'</p>
                                <img class="image fit" src="https://romesite.com/images/trevi_fountain.jpg" alt="">
                                <h2>Trevi Fountain of Rome</h2>
                                <p>The most famous fountain in Rome and perhaps even the world must be the ‘Fontana di Trevi’, or Trevi Fountain. This baroque fountain, located on the Piazza di Trevi, was built in the 18th century. The landmark and monument displays the god of the sea, Neptune on his chariot. No visit or Rome sightseeing is complete without tossing a coin in the Trevi Fountain, as this means the person throwing the coin will ‘one day return to Rome Italy’.</p>
                                <hr>
                                <img src="https://romesite.com/images/pantheon.jpg" alt="">
                                <h2> Pantheon</h2>
                                <p>One of the best maintained buildings from Roman times is the Pantheon. What function the building had in those days is still not clear, but the Pantheon was given to the pope by emperor Hadrian in 608. The current church has several unique funerary monuments (painter Raphael and a few Italian kings), as well as a remarkably large and open dome (oculus). During your city break in Rome, you can visit the Pantheon for free.</p>
                                <hr>
                                <img src="https://romesite.com/images/st-peters-basilica.jpg" alt="">
                                <h2>St. Peter’s Basilica</h2>
                                <p>The St. Peter’s Basilica, or ‘Basilica di San Pietro in Vaticano’ is the spiritual centre of the Catholic Church and residence of the pope. The enormous basilica, located in the independent state of Vatican City and next to St Peter's Square, was built on what is believed to be the grave of Peter. St. Peter’s Basilica contains masterpieces such as Bernini's baldachin and ‘La Pieta’ by Michelangelo, but you can also visit the crypts with 148 papal tombs. Plan your visit to St Peter's well ahead, or you will likely be standing in line for a long time.</p>
                                <hr>
                                <img src="https://romesite.com/images/sistine_chapel_vatican_museums.jpg" alt="">
                                <h2>Vatican Museums & Sistine Chapel</h2>
                                <p> Over the centuries, the popes amassed an enormous art collection varying from Roman objects and religious relics to countless paintings. In the Vatican Museums you can visit 54 richly decorated rooms and view these art treasures of the Catholic church. The highlight for many visitors is likely to be the famous Sistine Chapel. The chapel with lovely frescos by Michelangelo that is mostly known as the site of conclave when a new pope is elected. Because it gets so many visitors, this attraction has by far the longest lines. Reserving skip-the-line tickets is a must if you do not wish to wait in the hot sun for over two hours.</p>
                                <hr>
                                <img src="https://romesite.com/images/roman_forum.jpg" alt="">
                                <h2>Roman sights of Forum Romanum & Palatine</h2>
                                <p>The Forum Romanum was the centre of the ancient Roman Empire. During your visit to the Forum Romanum, you will walk past Roman excavations and the archaeological park full of old temples, arches, market halls and other important buildings built there by different emperors. Next to the forum lies Palatine Hill, where you will find excavations of imperial residences. More info 'Forum Romanum'</p>
                                <hr>
                                <img src="https://romesite.com/images/piazza-navona.jpg" alt="">
                                <h2>Piazza Navona</h2>
                                <p>One of the most remarkable squares in Rome is the Piazza Navona. The square therefore owes its elongated shape to its original purpose as a Roman athletics stadium. Interesting sights on the square include a number of fountains, such as the ‘La Fontana dei Quattro Fiumi’ by Bernini, an interesting obelisk, and you can visit the excavations of the old stadium of Domitianus. In addition, Piazza Navona is a lively square with many street performers, cafés and terraces.</p>
                                
                                <hr>
                                <img src="https://romesite.com/images/spanish-steps-rome.jpg" alt="">
                                <h2>The Spanish Steps in Rome</h2>
                                
                                <p>The ‘Spanish steps’ in Rome, built in Rococo style between 1723 and 1726, are the steps that lead from the Piazza di Spagna square to the French monastery church Trinita dei Monti (built between 1502–1587). There are 135 steps and three different terraces, referring to the Holy Trinity (the Trinità). The top of the stairs near the Egyptian obelisk offers a beautiful view, albeit one shared with throngs of other tourists. The name can be a bit confusing, as construction of the steps was actually commissioned by the French (Louis XII). In the 17th century, the Spanish embassy was located on the square – ‘Piazza di Spagna’ – at the base of the stairs, hence the name ‘Spanish Steps’. The official name is therefore not Spanish steps, but Scalinata della Trinità dei Monti.</p>
                                <hr>
                                <img src="https://romesite.com/images/castel_sant_angelo_rome.jpg" alt="">
                                <h2>Castel Sant’Angelo</h2>
                                <p>Originally, the 2nd-century Castel Sant’Angelo, or Castle of the Holy Angel, was a mausoleum for emperor Hadrian. After archangel Michael appeared here in 590 and ended a plague, pope Pius II had a large bronze statue of the angels placed on top of the castle. The Castle of the Holy Angel was part of Rome's defences and offered a place where popes could shelter, as the Vatican was connected to it by a tunnel.</p>
                                <hr>
                                <img src="https://romesite.com/images/trastevere_rome.jpg" alt="">
                                <h2> Sights of Trastevere</h2>
                                <p>On the opposite bank of the river Tiber lies the old working-class neighbourhood of Rome. Trastevere is a typical Italian neighbourhood where you can get lost in a maze of narrow streets, see old medieval houses, and go for a lively night out in the area's many restaurants and bars.</p>
                                </div>
                                <!-- // Review section -->
                                <div class="review" style=" all: revert;">
                                    <h3 style="font-size: 1.35em;
                                    color: aqua;
                                    /* font-size: large; */
                                    font-style: oblique;">Review</h3>
                                    <% romeReview.forEach(function (review){ %>
                                        <form action="/rome/delete" method="post">
                                        <p class="userName" style="color:yellow ;font-style: italic; font-weight: 250;"><%=review.userid%>
                                             <span style="color: azure;">wrote:</span>
                                            <span class="time" style="color: #d8aeff; float: right;"><%=review.time%> </span>
                                        </p>
                                        <div class="userReview" style="color: white; background-color: lightseagreen; border-radius: 15px; font-weight: 350;  position: relative; margin: 0%; padding: 0%; border: 0ch; box-sizing: unset;"> 
                                           
                                            <div class=" reviewStar" style=" display: grid; grid-template-columns: 50% 50% ; padding: 0%; margin: 0%; ">
                                               
                                                <span class="rateHeart" style="color: rgb(233, 255, 105); font-size: x-large;font-style: italic"><%=review.productPackages%><span class=" reviewRate">&nbsp;&nbsp;Tourist products and packages</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.cultural%><span class=" reviewRate">&nbsp;&nbsp;Cultural attractions</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.gastronomy%><span class=" reviewRate">&nbsp;&nbsp;Gastronomy</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.shopping%><span class=" reviewRate">&nbsp;&nbsp;Shopping</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.infrastructureTransport%><span class=" reviewRate">&nbsp;&nbsp;Infrastructure and transport</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.landscapeNaturalResource%> <span class=" reviewRate">&nbsp;&nbsp;Landscape and natural resources</span></span>
                                                <span class="rateHeart" style="color: hotpink; font-size: x-large; padding: 0%; margin: 0%;"><%=review.rateHeart%> <em style=" color:moccasin ;font-size: smaller;font-weight: 400;">Favourite</em> </span>
                                            </div>     
                                             <p style="margin: 0% ;white-space: pre-line; font-weight: 400;"><%=review.review%></p> 
                                        </div>
                                        
                                        <% if ( review.userGmail  ===  user.username ) { %>
                                            <div class="item" style=" margin:0% ;float: right;
                                            display: inline-flex;
                                            color: darkorange; ">
                                                <input type="checkbox" name="checkbox" style="appearance: auto;
                                                display: inline;
                                                float: left;
                                                margin-right: -4rem;
                                                opacity: 200;
                                                width: 10em;
                                                height: 20px;
                                                z-index: 1;
                                                " value="<%=review._id %>" onChange="this.form.submit()"> 
                                                <p>Delete</p>
                
                                            </div>

                                            <% } %>

                                        </form>
                                        
                                     <% }) %>
                                    

                                </div>

                                <!-- /// Summit section -->
                                <form action="/rome" method="POST">
                                    
                                    <!-- // demo rate star  -->
                                                                     
                                      
                                      <!-- /// end -->
                                    <div class="form-group">
                                        <h3 style="font-size: 1.35em;
                                        color: aqua;
                                        /* font-size: large; */
                                        font-style: oblique;">Leave a Review</h3>
                                         <!-- // demo rate star  -->
                                         <div class="reviewForm">

                                            <div>
                                                <div class="pinfo">Rate the destination.<i class="fa fa-heart" style="color: hotpink;" ></i></div>
                                                
                                            </div>  
                                            <div id=" reviewQuery" style="   display: grid;
                                            grid-template-columns: 25% 25% 25% 25%;
                                            /* background-color: #2196F3; */
                                            padding: 10px;">    
                                            
                                            <div>
                                               <label for="rateHeart">General</label>
                                                  <select class="form-control" id="rateHeart" name="rateHeart" style="; color: hotpink;" >
                                                  <option value="&hearts;&hearts;&hearts;&hearts;&hearts;">&hearts;&hearts;&hearts;&hearts;&hearts;</option>
                                                  <option value="&hearts;&hearts;&hearts;&hearts;">&hearts;&hearts;&hearts;&hearts;</option>
                                                  <option value="&hearts;&hearts;&hearts;">&hearts;&hearts;&hearts;</option>
                                                 <option value="&hearts;&hearts;">&hearts;&hearts;</option>
                                                 <option value="&hearts;">&hearts;</option>
                                               </select>
                                            </div>
                                              
                                               <div>
                                                  <label for="productPackages">Tourist products and packages</label> 
                                                <select class="form-control" id="productPackages" name="productPackages"  style="color: hotpink;" >
                                                  <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                  <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                  <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                  <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                  <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                               </div>  
                                               <div>
                                               <label for="cultural">Cultural attractions</label>
                                               <select class="form-control" id="cultural" name="cultural" style="color: hotpink;" >
                                                      <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                      <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                      <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                      <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                      <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                               </div>
                                              
                                              <div>
                                              <label for="gastronomy">Gastronomy.</label>
                                              <select class="form-control" id="gastronomy" name="gastronomy" style=" color: hotpink;" >
                                                      <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                      <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                      <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                      <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                      <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                              </div>

                                              
  
                                              <div>
                                              <label for="shopping">Shopping</label>
                                              <select class="form-control" id="shopping" name="shopping" style=" color: hotpink;" >
                                                  <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                  <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                  <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                 <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                 <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                              </div> 
                                              

                                              <div>
                                              <label for="Infras_transport">Infrastructure and transport</label>
                                              <select class="form-control" id="Infras_transport" name="Infras_transport" style=" color: hotpink;" >
                                                  <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                  <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                  <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                 <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                 <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>

                                              </div>
            
                                              <div>
                                                                                  <label for="landscape">Landscape and natural resources</label>
                                              <select class="form-control" id="landscape" name="landscape" style="color: hotpink;" >
                                                          <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                          <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                          <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                         <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                         <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                              </div>
                                            
                                          </div>

                                              
                                            </div>
                                         </div>
                                    <!-- <div class="col-md-4 inputGroupContainer">

                                 
                                    </div> -->
                                  
                                  <!-- /// end -->
                                        <!-- <input type="text" class="form-control text-center" name="secret" placeholder="Share your experience?">    -->
                                      <textarea type="text" required  class="form-control text-center" row="10" cols="33" name="secret" placeholder="Share your experience ?"></textarea>
                                      <input type="hidden" name="userEmail" value="<%= user.username %>" id="">
                                      <input type="hidden" name="userfullName" value="<%= user.name %>" id="">

                                    
                                    <button type="submit" class="btn btn-dark">Submit</button>
                                </form>
                            </div>
                        </div>    
					

					

				</div>
			</div>
            
			<%- include('partials/footer') %>