<!--
    TripAdvise Index Page
    home page/landing page for unregistered user
    feed page for registered, logined user

    
-->

<%- include('partials/header') %>   
<!-- // header file -->
<body id="top"> 

		<!-- Banner -->
		
			<section id="banner" data-video="images/banner">
				<div class="inner">
					<header>
						<h1 style="color: blue;">TripAdvise</h1>
						<p>A destination information website with a modern social media feel.
							 <br> Log out <a href="/logout">here</a>.</p>
					</header>
					<a href="#main" class="more">Learn More</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">
				<div class="inner">

				    <!-- Boxes -->
					<div class="thumbnails">
                        <!-- class="image fit" -->
						<div class="boxdestination">
							
							<div class="inner image fit ">
                                <div class="info">
								<h2>Sydney, Australia</h2>
                                <div>
                                    <iframe width="100%" height="600" src= "https://www.youtube.com/embed/6tkQ8ezp230" ></iframe>
                                </div>	
                                <br>							
                                <h4 > <i>We might be a little biased, but in our humble opinion, Sydney's got it all. Few cities in the world can rival its natural beauty, its rich heritage and history that dates back thousands of years, and its creative, culinary and cultural offerings by world-class pros. In fact, there's so much to see, do, sip and chew here, you could be forgiven for feeling a little overwhelmed. But worry not, dear reader – we're here to help.

                                    We've sifted through every good time the Big Smoke has to offer to put together a Sydney bucket list for the ages: Time Out's ultimate pick of essential Sydney experiences you have to try in 2022. Whether you're a new arrival or a born-and-bred local, this round-up of the city's must-do activities will let you experience Sydney from every angle.</i> </h4>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/60766a62a276545a9e9b25ea/1:1/w_2580%2Cc_limit/JAENHD%2520(1).jpg" alt="">
                                <hr>
                                
                                <h2>Surry Hills</h2>
                                <p style="color: white;">With its tree-fringed Victorian terrace houses, sociable bars and cafés, and stylish independent stores, Surry Hills is a magnet for creative types and one of the inner city’s most charming neighborhoods. Visitors will get a sense of how Sydneysiders live here, whether that’s sipping matcha lattes at cafés such as the iconic Bills, sinking a craft beer at a pub, or just walking the dog. For a culture fix, head to the Brett Whiteley Studio, once home to the rebellious late Australian artist. It’s easy to stroll around Surry Hills, which is part of its appeal.</p>
                                <img class="image fit" src="https://media.cntraveler.com/photos/5aa820686fe562647b16339f/1:1/w_2580%2Cc_limit/Wylies%2520Baths_Sydney_GettyImages-545266347.jpg" alt="">
                                <h2>Wylie’s Baths</h2>
                                <p>Coogee’s Wylie’s Baths is a large, heritage-listed ocean tidal pool with sweeping sea views. It's a five-minute stroll south of Coogee along the coastal walkway, and has a welcoming café on its upper tier with changing rooms alongside. Wylie’s, in addition to nearby Bondi Icebergs and Murray Rose pools, can be chilly, as they’re ocean or harbor dips. All get crowded on warm weekends.</p>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/5a7e1789e9c49e2e4d80a34e/1:1/w_2580%2Cc_limit/Art-Gallery-NSW-TTD-and-Museums__2018_20170804AWS_045.jpg" alt="">
                                <h2>Art Gallery NSW</h2>
                                <p>Sydney’s premier art destination, the Art Gallery of New South Wales—aka Art Gallery NSW—was established in 1871 and holds court in the leafy Domain near Hyde Park. Its huge classical building is home to a vast collection of fine Australian and international art, including colonial and 19th-century Australian works and European old masters, as well as contemporary creations. It's free to visit the permanent collection of this public gallery, but specific shows are ticketed. The expansive collection covers all media, drawing over a million visitors a year to this major Australian gallery.</p>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/5a836a1a833f8a477b9494fd/1:1/w_2580%2Cc_limit/Rocks_neighborhood_GettyImages-891209710.jpg" alt="">
                                <h2>The Rocks</h2>
                                <p>Sydney’s oldest colonial neighborhood, the Rocks, is a warren of atmospheric sandstone warehouses, quiet courtyards, and cobbled alleys on the western side of Circular Quay. The birthplace of modern Sydney, this was where the First Fleet of British colonists and convicts stepped ashore in 1788. Enjoy spectacular views of Sydney Harbour Bridge looming over this historic district, and Sydney Opera House opposite. The oldest remaining building is 1816-founded Cadmans Cottage, beside the Museum of Contemporary Art (MCA), a handy starting point for a walk around the area’s 19th-century buildings, heritage pubs, cafés, shops, and galleries.</p>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/5a836796fe6fd1553e2424dc/1:1/w_2580%2Cc_limit/Sydney-Harbour-Bridge_Brett-Stevens_SydneyHarbour-0050-copy.jpg" alt="">
                                <h2>Sydney Harbour Bridge</h2>
                                <p> Dubbed "The Coathanger," Sydney Harbour Bridge is an incredible feat of design. The world’s largest steel through arch bridge, opened in 1932 after years of planning, it’s a vital artery, linking Sydney’s CBD (Central Business District) beside Circular Quay with the North Shore. It’s free to walk or cycle across it—with separate paths on the east and west sides, respectively—affording bird’s-eye views of the Opera House, Luna Park, and the harbor below.</p>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/5abb9b3744769047c2c7b8c9/1:1/w_2580%2Cc_limit/White-Rabbit-Gallery__2018_PB_0003.jpg" alt="">
                                <h2>White Rabbit Gallery</h2>
                                <p>One of Sydney’s insider secrets, the White Rabbit Gallery showcases contemporary Chinese art. White Rabbit is a must-see for anyone excited by modern art, especially the dynamic, influential Sino scene. The White Rabbit’s compact, white-walled, four-story space is the perfect size for an enjoyable visit. A serene teahouse on the ground floor, hung with pretty birdcages, serves Chinese and Taiwanese teas, dumplings, and scones. The adjacent gift shop sells stylish souvenirs drawing on the gallery’s shows. Signature buys include black and patterned staff aprons, and figurines of a girl with a white rabbit.</p>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/5a836bc2833f8a477b949500/1:1/w_2580%2Cc_limit/Royal-Botanic-Garden__38612186215_a2ecd63ac7_o.jpg" alt="">
                                <h2>The Royal Botanic Garden Sydney</h2>
                                <p>Australia’s oldest botanical garden, founded in 1816, is a leafy, 74-acre oasis adorned with ornamental plants, rolling lawns, and ancient trees, with a mix of native and international species. Admire the flora and fauna or just enjoy this verdant spot for a picnic, stroll, or serene time-out. You’ll find fabulous flowers, plant-packed conservatories, and historic sculptures dotting the grounds. For local attractions, check out the Australian Rainforest Garden, Australian Native Rockery, or the Bicentenary Garden, and the rare, recently rediscovered Wollemi Pine.</p>
                                
                                <hr>
                                <img src="https://media.cntraveler.com/photos/5aa97d6b8c15f845b501be0d/1:1/w_2580%2Cc_limit/Manly-Beach_GettyImages-500049291.jpg" alt="">
                                <h2>Manly Beach</h2>
                                
                                <p>One of Sydney’s most famous surf spots, Manly Beach is a huge sweep of golden sand backed by pretty pine trees. It’s actually three beaches in one—South Steyne, North Steyne, and surf-friendly Queenscliff, stretching almost two kilometers—and is the first of the city’s Northern Beaches which run from here up to Palm Beach. Take the iconic half-hour Manly Ferry from Circular Quay to Manly Wharf for its fantastic views of the Sydney Harbour Bridge, Sydney Opera House and city skyline (especially if you bag a seat outside), and on arrival, hit either the family-friendly harbor beaches on both sides of the wharf, or head down The Corso, a short pedestrian street across the peninsula, to oceanfront Manly Beach.</p>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/5a836867ccc5d25b62a7a20f/1:1/w_2580%2Cc_limit/Cockatoo-Island_camping_Cockatoo-Island-campground.jpg" alt="">
                                <h2>Cockatoo Island</h2>
                                <p>A UNESCO World Heritage site, rugged Cockatoo Island combines colonial convict history with industrial shipbuilding heritage. Pick up an island map from the visitor center and explore. For a small fee, 90-minute, self-guided audio tours offer insight into Cockatoo’s layered past; you also can book ticketed guided tours online, including private convict precinct tours and lower Island, shipyard and night-time haunted history tours for groups. Spending time here is memorable and moving, so plan for at least half a day.</p>
                                <hr>
                                <img src="https://media.cntraveler.com/photos/5a836a7eccc5d25b62a7a214/1:1/w_2580%2Cc_limit/75-The-Intersection-Paddington..jpg" alt="">
                                <h2>The Intersection Paddington</h2>
                                <p>Named after its location at the corner of Paddington’s Oxford Street and Glenmore Road, the Intersection is a hot shopping district. Clustered on and around two of Sydney’s chicest retail strips, it’s home to the best Australian fashion designers in town, alongside airy cafés and galleries. Find it halfway along main drag Oxford Street, opposite historic Victoria Barracks. What’s memorable at the Intersection is the critical mass of stylish showrooms in close proximity, yet you’re not trapped in a lifeless mall. Check out all your favorite Australian labels.</p>
                                </div>
                                <!-- // Review section -->
                                <div class="review" style=" all: revert;">
                                    <h3 style="font-size: 1.35em;
                                    color: aqua;
                                    /* font-size: large; */
                                    font-style: oblique;">Review</h3>
                                    <% sydneyReview.forEach(function (review){ %>
                                        <form action="/sydney/delete" method="post">
                                        <p class="userName" style="color:yellow ;font-style: italic; font-weight: 250;"><%=review.userid%>
                                             <span style="color: azure;">wrote:</span>
                                            <span class="time" style="color: #d8aeff; float: right;"><%=review.time%> </span>
                                        </p>
                                        <div class="userReview" style="color: white; background-color: lightseagreen; border-radius: 15px; font-weight: 350;  position: relative; margin: 0%; padding: 0%; border: 0ch; box-sizing: unset;"> 
                                           
                                            <div class=" reviewStar" style=" display: grid; grid-template-columns: 50% 50%; padding: 0%; margin: 0%; ">
                                                
                                                <span class="rateHeart" style="color: rgb(233, 255, 105); font-size: x-large;font-style: italic"><%=review.productPackages%><span class=" reviewRate">&nbsp;&nbsp;Tourist products and packages</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.cultural%><span class=" reviewRate">&nbsp;&nbsp;Cultural attractions</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.gastronomy%><span class=" reviewRate">&nbsp;&nbsp;Gastronomy</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.shopping%><span class=" reviewRate">&nbsp;&nbsp;Shopping</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.infrastructureTransport%><span class=" reviewRate">&nbsp;&nbsp;Infrastructure and transport</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.landscapeNaturalResource%> <span class=" reviewRate">&nbsp;&nbsp;Landscape and natural resources</span></span>
                                                <span class="rateHeart" style="color: hotpink; font-size: x-large; padding: 0%; margin: 0%;"><%=review.rateHeart%> <em style=" color:moccasin ;font-size: smaller;font-weight: 400;">Favourite</em> </span>
                                            </div>     
                                             <p style="margin: 0% ;white-space: pre-line; font-weight: 400;"><%=review.review%></p> 
                                        </div>
                                        
                                        <% if ( review.userGmail  ===  user.username ) { %>
                                            <div class="item" style=" margin:0% ;float: right;
                                            display: inline-flex;
                                            color: darkorange; ">
                                                <input type="checkbox" name="checkbox" style="appearance: auto;
                                                display: inline;
                                                float: left;
                                                margin-right: -4rem;
                                                opacity: 200;
                                                width: 10em;
                                                height: 20px;
                                                z-index: 1;
                                                " value="<%=review._id %>" onChange="this.form.submit()"> 
                                                <p>Delete</p>
                
                                            </div>

                                            <% } %>

                                        </form>
                                        
                                     <% }) %>
                                    

                                </div>

                                <!-- /// Summit section -->
                                <form action="/sydney" method="POST">
                                    
                                    <!-- // demo rate star  -->
                                                                     
                                      
                                      <!-- /// end -->
                                    <div class="form-group">
                                        <h3 style="font-size: 1.35em;
                                        color: aqua;
                                        /* font-size: large; */
                                        font-style: oblique;">Leave a Review</h3>
                                         <!-- // demo rate star  -->
                                         <div class="reviewForm">

                                            <div>
                                                <div class="pinfo">Rate the destination.<i class="fa fa-heart" style="color: hotpink;" ></i></div>
                                                
                                            </div>  
                                            <div id=" reviewQuery" style="   display: grid;
                                            grid-template-columns: 25% 25% 25% 25%;
                                            /* background-color: #2196F3; */
                                            padding: 10px;">    
                                            
                                            <div>
                                               <label for="rateHeart">General</label>
                                                  <select class="form-control" id="rateHeart" name="rateHeart" style="; color: hotpink;" >
                                                  <option value="&hearts;&hearts;&hearts;&hearts;&hearts;">&hearts;&hearts;&hearts;&hearts;&hearts;</option>
                                                  <option value="&hearts;&hearts;&hearts;&hearts;">&hearts;&hearts;&hearts;&hearts;</option>
                                                  <option value="&hearts;&hearts;&hearts;">&hearts;&hearts;&hearts;</option>
                                                 <option value="&hearts;&hearts;">&hearts;&hearts;</option>
                                                 <option value="&hearts;">&hearts;</option>
                                               </select>
                                            </div>
                                              
                                               <div>
                                                  <label for="productPackages">Tourist products and packages</label> 
                                                <select class="form-control" id="productPackages" name="productPackages"  style="color: hotpink;" >
                                                  <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                  <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                  <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                  <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                  <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                               </div>  
                                               <div>
                                               <label for="cultural">Cultural attractions</label>
                                               <select class="form-control" id="cultural" name="cultural" style="color: hotpink;" >
                                                      <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                      <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                      <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                      <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                      <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                               </div>
                                              
                                              <div>
                                              <label for="gastronomy">Gastronomy.</label>
                                              <select class="form-control" id="gastronomy" name="gastronomy" style=" color: hotpink;" >
                                                      <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                      <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                      <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                      <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                      <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                              </div>

                                              
  
                                              <div>
                                              <label for="shopping">Shopping</label>
                                              <select class="form-control" id="shopping" name="shopping" style=" color: hotpink;" >
                                                  <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                  <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                  <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                 <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                 <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                              </div> 
                                              

                                              <div>
                                              <label for="Infras_transport">Infrastructure and transport</label>
                                              <select class="form-control" id="Infras_transport" name="Infras_transport" style=" color: hotpink;" >
                                                  <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                  <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                  <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                 <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                 <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>

                                              </div>
            
                                              <div>
                                                                                  <label for="landscape">Landscape and natural resources</label>
                                              <select class="form-control" id="landscape" name="landscape" style="color: hotpink;" >
                                                          <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                          <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                          <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                         <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                         <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                              </div>
                                            
                                          </div>

                                              
                                            </div>
                                         </div>
                                    <!-- <div class="col-md-4 inputGroupContainer">

                                 
                                    </div> -->
                                  
                                  <!-- /// end -->
                                        <!-- <input type="text" class="form-control text-center" name="secret" placeholder="Share your experience?">    -->
                                      <textarea type="text" required  class="form-control text-center" row="10" cols="33" name="secret" placeholder="Share your experience ?"></textarea>
                                      <input type="hidden" name="userEmail" value="<%= user.username %>" id="">
                                      <input type="hidden" name="userfullName" value="<%= user.name %>" id="">

                                    
                                    <button type="submit" class="btn btn-dark">Submit</button>
                                </form>
                            </div>
                        </div>    
					

					

				</div>
			</div>
            
			<%- include('partials/footer') %>