<!--
    TripAdvise Index Page
    home page/landing page for unregistered user
    feed page for registered, logined user

    
-->

<%- include('partials/header') %>   
<!-- // header file -->
<body id="top"> 

		<!-- Banner -->
		
			<section id="banner" data-video="images/banner">
				<div class="inner">
					<header>
						<h1 style="color: blue;">TripAdvise</h1>
						<p>A destination information website with a modern social media feel.
							 <br> Log out <a href="/logout">here</a>.</p>
					</header>
					<a href="#main" class="more">Learn More</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">
				<div class="inner">

				    <!-- Boxes -->
					<div class="thumbnails">
                        <!-- class="image fit" -->
						<div class="boxdestination">
							
							<div class="inner image fit ">
                                <div class="info">
								<h2>Tokyo,Japan</h2>
                                <div>
                                    <iframe width="100%" height="600" src= "https://www.youtube.com/embed/0nTO4zSEpOs" ></iframe>
                                </div>	
                                <br>							
                                <h4 > <i>With its futuristic skyscrapers, unrivaled food scene, and wild nightlife, Tokyo is a rush of pure adrenaline. This vast and multifaceted city is famously cutting edge, yet its ancient Buddhist temples, vintage teahouses, and peaceful gardens offer a serene escape — and a poignant reminder of the city’s long history. And for those who know where to look, Tokyo’s smaller pleasures (secret ramen spots, shopping alleys, chill record bars) are often hiding in plain sight.</i> </h4>
                                <hr>
                                <img src="https://www.neverendingvoyage.com/wp-content/uploads/2017/11/tokyo-disneysea-rides-4-1100x825.jpg" alt="">
                                <hr>
                                
                                <h2>Tokyo DisneySea</h2>
                                <p style="color: white;">It might seem a waste to spend a day of your Tokyo trip at Disney, but DisneySea is unlike any of the other Disney parks in the world (and is possibly the best).

                                    The nautical theme park features seven ports inspired by real places and ocean legends including American Waterfront, Mediterranean Harbor (which looks just like Italy), Arabian Coast, and the unique Mysterious Island complete with erupting volcano.
                                    
                                    Attractions are more adult-orientated than at neighbouring park Tokyo Disneyland and you can even see a Broadway show and have a cocktail in a 1920s lounge aboard a cruise liner.</p>
                                <img class="image fit" src="https://www.neverendingvoyage.com/wp-content/uploads/2017/10/main-robot-restaurant-tokyo-review-1100x825.jpg" alt="">
                                <h2> Robot Restaurant</h2>
                                <p>The Robot Restaurant is not a restaurant and there aren’t many robots, but this show is one of the weirdest things to do in Tokyo.The energetic and totally insane performance features robots, dragons, ninjas, blue-haired dancers, creepy clowns, guitarists on swings, drums, a whole lot of neon lights, and really loud music.</p>
                                <hr>
                                <img src="https://www.neverendingvoyage.com/wp-content/uploads/2021/11/teamlab-borderless-tokyo-2-1100x733.jpg" alt="">
                                <h2>TeamLab Borderless Digital Art Museum</h2>
                                <p>The digital art museum TeamLab Borderless is one of the most Instagrammable things to do in Tokyo. But this unusual interactive museum is well worth visiting even if you aren’t planning to take the perfect photo.

                                    It’s unlike anywhere we’ve visited before. There’s no map as the discovery is part of the fun—you wander down dark corridors and choose doors at random to explore the immersive displays that use lights and projections in creative ways.</p>
                                <hr>
                                <img src="https://www.neverendingvoyage.com/wp-content/uploads/2017/11/ghibli-museum-tokyo-1100x825.jpg" alt="">
                                <h2>Ghibli Museum</h2>
                                <p>If you’re a Studio Ghibli fan, don’t miss the whimsical Ghibli Museum.

                                    Most of the exhibits and short animation are in Japanese, but it’s still cool to see props and drawings from classic films like Spirited Away and My Neighbor Totoro.
                                    
                                    When we visited there was a special exhibition on the food that the characters in the films eat. The attention to detail in every second of the films is astounding.</p>
                                <hr>
                                <img src="https://www.neverendingvoyage.com/wp-content/uploads/2017/11/food-models-harajuku-933x700.jpg" alt="">
                                <h2>Harajuku</h2>
                                <p>Harajuku is Tokyo’s youth neighbourhood with Takeshita Street at its heart. It’s one of the most vibrant and fun places in Tokyo. 

                                    It gets super crowded on weekends, but it’s worth wandering around to see the cosplay kids, browse the quirky fashion stores, and eat from one of the popular crepe stands—crepe stuffed with a slice of cheesecake, anyone?
                                    
                                    Nearby you can also visit the elegant shopping street Omotesando, the Meiji shrine within Yoyogi Park, and the Ota Museum</p>
                                <hr>
                                <img src="https://www.neverendingvoyage.com/wp-content/uploads/2017/11/sensoji-tokyo-sky-tree-933x700.jpg" alt="">
                                <h2>Sensoji Temple</h2>
                                <p>Coney Island has a reputation as a circus-worthy tourist trap, which is exactly what it is. But you may be surprised by the old-timey charms of this beachfront American town. You’ll definitely be impressed by the food and drinks—Totonno's Pizza, Gargiulo's and Coney Island Brewery in particular. Locals and tourists hang out on the beach, eat ice cream cones on the promenade, and stand in line for the famed Cyclone roller coaster. The beach and boardwalk along with spots like Nathan’s are open year-round. The amusement park itself is seasonal.</p>
                                <hr>
                                <img src="https://www.neverendingvoyage.com/wp-content/uploads/2017/11/shinjuku-national-garden-525x700.jpg" alt="">
                                <h2>Shinjuku Gyoen National Garden</h2>
                                <p>The skyscrapers of Shinjuku are the backdrop to these peaceful gardens.This beautiful park is at its best when the cherry blossoms are blooming or the autumn leaves have turned red, but even in late summer we enjoyed strolling past the ponds, pagodas, and teahouse. There are Japanese, French, and English gardens.

                                    It’s a wonderful oasis from the busy city and having a picnic here is one of our favourite things to do in Shinjuku. </p>
                                
                                <hr>
                                <img src="https://www.neverendingvoyage.com/wp-content/uploads/2017/11/tokyo-metropolitan-building-view-1100x825.jpg" alt="">
                                <h2>Tokyo Metropolitan Government Building</h2>
                                
                                <p>There are a number of spots in Tokyo where you can enjoy views of the city skyline, but the best place for a free view is the Tokyo Metropolitan Government Building in Shinjuku.

                                    The North Tower is open until 11 pm and you can see the skyscrapers and highways lit up in the darkness. On a clear morning you might be able to see Mt Fuji from the South Tower.</p>
                                <hr>
                                <img src="https://www.neverendingvoyage.com/wp-content/uploads/2017/10/vegan-ramen-ouka-vending-machine-525x700.jpg" alt="">
                                <h2>Ramen Vending Machine Restaurant</h2>
                                <p>Don’t worry, you won’t be eating instant ramen! At many ramen restaurants in Tokyo you order your meal and pay at the vending machine by the entrance, then take a seat at the counter and hand your ticket over to the chef.

                                    There are thousands of ramen joints in Tokyo. As vegetarians we loved Ramen Ouka, which does halal and vegan ramen, and T’s Tantan, an entirely vegan ramen restaurant in Tokyo Station.</p>
                                <hr>
                                <img src="https://www.neverendingvoyage.com/wp-content/uploads/2017/11/maricar-tokyo-1100x825.jpg" alt="">
                                <h2>Cosplay Go-Karting</h2>
                                <p>Dressing up as your favourite character and driving a go-kart around the Tokyo streets has to be the coolest thing you can do in Tokyo. Yes, you drive a tiny go-kart on the real streets of Tokyo amongst cars, buses, and trucks!
                                    It’s a surreal experience as you drive past skyscrapers and tiny shrines, busy crossings and quiet residential neighbourhoods, all while people stare, wave, and take your photo.
                                </p>
                                </div>
                                <!-- // Review section -->
                                <div class="review" style=" all: revert;">
                                    <h3 style="font-size: 1.35em;
                                    color: aqua;
                                    /* font-size: large; */
                                    font-style: oblique;">Review</h3>
                                    <% tokyoReview.forEach(function (review){ %>
                                        <form action="/tokyo/delete" method="post">
                                        <p class="userName" style="color:yellow ;font-style: italic; font-weight: 250;"><%=review.userid%>
                                             <span style="color: azure;">wrote:</span>
                                            <span class="time" style="color: #d8aeff; float: right;"><%=review.time%> </span>
                                        </p>
                                        <div class="userReview" style="color: white; background-color: lightseagreen; border-radius: 15px; font-weight: 350;  position: relative; margin: 0%; padding: 0%; border: 0ch; box-sizing: unset;"> 
                                           
                                            <div class=" reviewStar" style=" display: grid; grid-template-columns: 50% 50%; padding: 0%; margin: 0%; ">
                                                <span class="rateHeart" style="color: hotpink; font-size: x-large; padding: 0%; margin: 0%;"><%=review.rateHeart%> <em style=" color:moccasin ;font-size: smaller;font-weight: 400;">Favourite</em> </span>
                                                <span class="rateHeart" style="color: rgb(233, 255, 105); font-size: x-large;font-style: italic"><%=review.productPackages%><span class=" reviewRate">&nbsp;&nbsp;Tourist products and packages</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.cultural%><span class=" reviewRate">&nbsp;&nbsp;Cultural attractions</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.gastronomy%><span class=" reviewRate">&nbsp;&nbsp;Gastronomy</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.shopping%><span class=" reviewRate">&nbsp;&nbsp;Shopping</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.infrastructureTransport%><span class=" reviewRate">&nbsp;&nbsp;Infrastructure and transport</span></span>
                                                <span class="rateHeart" style="color: yellow; font-size: x-large;font-style: italic"><%=review.landscapeNaturalResource%> <span class=" reviewRate">&nbsp;&nbsp;Landscape and natural resources</span></span>
                                            </div>     
                                             <p style="margin: 0% ;white-space: pre-line; font-weight: 400;"><%=review.review%></p> 
                                        </div>
                                        
                                        <% if ( review.userGmail  ===  user.username ) { %>
                                            <div class="item" style=" margin:0% ;float: right;
                                            display: inline-flex;
                                            color: darkorange; ">
                                                <input type="checkbox" name="checkbox" style="appearance: auto;
                                                display: inline;
                                                float: left;
                                                margin-right: -4rem;
                                                opacity: 200;
                                                width: 10em;
                                                height: 20px;
                                                z-index: 1;
                                                " value="<%=review._id %>" onChange="this.form.submit()"> 
                                                <p>Delete</p>
                
                                            </div>

                                            <% } %>

                                        </form>
                                        
                                     <% }) %>
                                    

                                </div>

                                <!-- /// Summit section -->
                                <form action="/tokyo" method="POST">
                                    
                                    <!-- // demo rate star  -->
                                                                     
                                      
                                      <!-- /// end -->
                                    <div class="form-group">
                                        <h3 style="font-size: 1.35em;
                                        color: aqua;
                                        /* font-size: large; */
                                        font-style: oblique;">Leave a Review</h3>
                                         <!-- // demo rate star  -->
                                         <div class="reviewForm">

                                            <div>
                                                <div class="pinfo">Rate the destination.<i class="fa fa-heart" style="color: hotpink;" ></i></div>
                                                
                                            </div>  
                                            <div id=" reviewQuery" style="   display: grid;
                                            grid-template-columns: 25% 25% 25% 25%;
                                            /* background-color: #2196F3; */
                                            padding: 10px;">    
                                            
                                            <div>
                                               <label for="rateHeart">General</label>
                                                  <select class="form-control" id="rateHeart" name="rateHeart" style="; color: hotpink;" >
                                                  <option value="&hearts;&hearts;&hearts;&hearts;&hearts;">&hearts;&hearts;&hearts;&hearts;&hearts;</option>
                                                  <option value="&hearts;&hearts;&hearts;&hearts;">&hearts;&hearts;&hearts;&hearts;</option>
                                                  <option value="&hearts;&hearts;&hearts;">&hearts;&hearts;&hearts;</option>
                                                 <option value="&hearts;&hearts;">&hearts;&hearts;</option>
                                                 <option value="&hearts;">&hearts;</option>
                                               </select>
                                            </div>
                                              
                                               <div>
                                                  <label for="productPackages">Tourist products and packages</label> 
                                                <select class="form-control" id="productPackages" name="productPackages"  style="color: hotpink;" >
                                                  <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                  <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                  <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                  <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                  <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                               </div>  
                                               <div>
                                               <label for="cultural">Cultural attractions</label>
                                               <select class="form-control" id="cultural" name="cultural" style="color: hotpink;" >
                                                      <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                      <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                      <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                      <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                      <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                               </div>
                                              
                                              <div>
                                              <label for="gastronomy">Gastronomy.</label>
                                              <select class="form-control" id="gastronomy" name="gastronomy" style=" color: hotpink;" >
                                                      <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                      <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                      <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                      <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                      <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                              </div>

                                              
  
                                              <div>
                                              <label for="shopping">Shopping</label>
                                              <select class="form-control" id="shopping" name="shopping" style=" color: hotpink;" >
                                                  <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                  <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                  <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                 <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                 <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                              </div> 
                                              

                                              <div>
                                              <label for="Infras_transport">Infrastructure and transport</label>
                                              <select class="form-control" id="Infras_transport" name="Infras_transport" style=" color: hotpink;" >
                                                  <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                  <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                  <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                 <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                 <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>

                                              </div>
            
                                              <div>
                                                                                  <label for="landscape">Landscape and natural resources</label>
                                              <select class="form-control" id="landscape" name="landscape" style="color: hotpink;" >
                                                          <option value="&starf;&starf;&starf;&starf;&starf;">&starf;&starf;&starf;&starf;&starf;</option>
                                                          <option value="&starf;&starf;&starf;&starf;&#9734;">&starf;&starf;&starf;&starf;&#9734;</option>
                                                          <option value="&starf;&starf;&starf;&#9734;&#9734;">&starf;&starf;&starf;&#9734;&#9734;</option>
                                                         <option value="&starf;&starf;&#9734;&#9734;&#9734;">&starf;&starf;&#9734;&#9734;&#9734;</option>
                                                         <option value="&starf;&#9734;&#9734;&#9734;&#9734;">&starf;&#9734;&#9734;&#9734;&#9734;</option>
                                              </select>
                                              </div>
                                            
                                          </div>

                                              
                                            </div>
                                         </div>
                                    <!-- <div class="col-md-4 inputGroupContainer">

                                 
                                    </div> -->
                                  
                                  <!-- /// end -->
                                        <!-- <input type="text" class="form-control text-center" name="secret" placeholder="Share your experience?">    -->
                                      <textarea type="text" required  class="form-control text-center" row="10" cols="33" name="secret" placeholder="Share your experience ?"></textarea>
                                      <input type="hidden" name="userEmail" value="<%= user.username %>" id="">
                                      <input type="hidden" name="userfullName" value="<%= user.name %>" id="">

                                    
                                    <button type="submit" class="btn btn-dark">Submit</button>
                                </form>
                            </div>
                        </div>    
					

					

				</div>
			</div>
            
			<%- include('partials/footer') %>